@using CardTrader.Infrastructure.Data.Models
@{
    var thread = (ForumThread)ViewData["Thread"];
    var comments = (List<ForumComment>)ViewData["Comments"];
}

<body>
    <div class="main">
        <div class="header">
            <h4 class="title">
                @thread.Title
            </h4>
            <div class="bottom">
                <p class="timestamp">
                    @thread.CreationDate
                </p>
                <p class="comment-count">
                    Comments: @comments.Count
                </p>
                <p>
                    @thread.Content
                </p>
            </div>
        </div>

        <partial name="_AddCommentPartial" />

        <div class="comments">
            @foreach (var comment in comments)
            {
                <div class="comment">
                    <span class="user">
                        @comment.CreatorName
                    </span>
                    <span class="timestamp">
                        @comment.CreationDate
                    </span>
                </div>
                <div class="comment-content">
                    @comment.Content
                </div>
            }
        </div>
    </div>
</body>